<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if data['new_data'] %}
    <title>{{ data['new_data'][0]['class_name'] }}</title>
    {% else %}
    <title>博客列表页</title>
    {% end %}
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}">
    <link rel="shortcut icon" href="{{ static_url('images/favicon.ico') }}">
    <script src="{{ static_url('js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ static_url('js/nprogress.js') }}"></script>
    <script src="{{ static_url('js/jquery.lazyload.min.js') }}"></script>
    <!--[if gte IE 9]>
    <script src="{{ static_url('js/jquery-1.11.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('js/html5shiv.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('js/respond.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('js/selectivizr-min.js') }}" type="text/javascript"></script>
    <![endif]-->
</head>
<body class="user-select">
<header class="header">
    <nav class="navbar navbar-default" id="navbar">
        <div class="container">
            <!-- logo -->
            <div class="navbar-header">
                <h1 class="logo hvr-bounce-in">
                    <a href="/" title="李家富博客"><img src="{{ static_url('images/logo.png') }}" alt="李家富博客"></a>
                </h1>
            </div>
            <!-- 菜单 -->
            <div class="collapse navbar-collapse" id="header-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-cont="李家富博客" title="李家富博客" href="/">首页</a></li>
                    {% for d in data['class_data'] %}
                    <li><a href="/list/{{ d['id'] }}">{{ escape(d['name']) }}</a></li>
                    {% end %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<section class="container">
    <div class="content-wrap">
        <div class="content">
            {% if data['new_data'] %}
            <div class="title">
                <h3 style="line-height: 1.3">{{ data['new_data'][0]['class_name'] }}</h3>
            </div>
            {% end %}
            <!-- 文章列表 -->
            {% for d in data['new_data'] %}
            <article class="excerpt">
                <a class="focus" href="#" title="{{ escape(d['title']) }}" target="_blank">
                    <img class="thumb" src="{{ escape(d['image_url']) }}" alt="{{ escape(d['title']) }}">
                </a>
                <header>
                    <a class="cat" href="#" title="{{ escape(d['class_name']) }}">{{ escape(d['class_name'])
                        }}<i></i></a>
                    <h2>
                        <a href="#" title="{{ escape(d['title']) }}" target="_blank">
                            {{ escape(d['title']) }}
                        </a>
                    </h2>
                </header>
                <p class="meta">
                    <time class="time"><i class="glyphicon glyphicon-time"></i> {{ escape(d['create_date']) }}</time>
                    <!--<span class="views"><i class="glyphicon glyphicon-eye-open"></i> 216</span>-->
                    <!--<a class="comment" href="##comment" title="评论" target="_blank">-->
                    <!--<i class="glyphicon glyphicon-comment"></i> 4-->
                    <!--</a>-->
                </p>
                <p class="note">
                    {{ escape(d['note']) }}
                </p>
            </article>
            {% end %}
            <nav class="pagination" style="display: none;">
                <ul>
                    <li class="next-page">
                        <a href="/list/{{ data['cur_class'] }}?page={{ data['next_page'] }}">下一页</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <aside class="sidebar">
        <div class="fixed">
            <!--<div class="widget widget_search">-->
            <!--<form class="navbar-form" action="/Search" method="post">-->
            <!--<div class="input-group">-->
            <!--<input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字"-->
            <!--maxlength="15" autocomplete="off">-->
            <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-default btn-search" name="search" type="submit">搜索</button>-->
            <!--</span>-->
            <!--</div>-->
            <!--</form>-->
            <!--</div>-->
            <div class="widget widget_sentence">
                <h3>标签云</h3>
                <div class="widget-sentence-content">
                    <ul class="plinks ptags">
                        {% for d in data['class_data'] %}
                        <li>
                            <a href="/list/{{ d['id'] }}" title="{{ d['name'] }}" draggable="false">
                                {{ escape(d['name']) }} <span class="badge">{{ d['total'] }}</span>
                            </a>
                        </li>
                        {% end %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="widget widget_hot">
            <h3>热门文章</h3>
            <ul>
                {% for d in data['hot_data'] %}
                <li>
                    <a title="{{ escape(d['title']) }}" href="#">
                        <span class="thumbnail">
				            <img class="thumb" src="{{ escape(d['image_url']) }}" alt="{{ escape(d['title']) }}"
                                 style="display: block;">
			            </span>
                        <span class="text">{{ escape(d['title']) }}</span>
                        <span class="muted">
                            <i class="glyphicon glyphicon-time"></i> {{ escape(d['create_date']) }}
                        </span>
                        <!--<span class="muted">-->
                        <!--<i class="glyphicon glyphicon-eye-open"></i> 88-->
                        <!--</span>-->
                    </a>
                </li>
                {% end %}
            </ul>
        </div>
        <div class="widget widget_sentence">
            <h3>友情链接</h3>
            <div class="widget-sentence-link">
                <a href="#" title="网站建设" target="_blank">网站建设</a>
            </div>
        </div>
    </aside>
</section>
<footer class="footer">
    <div class="container">
        <p>李家富博客</p>
    </div>
</footer>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('js/jquery.ias.js') }}"></script>
<script src="{{ static_url('js/scripts.js') }}"></script>
</body>
</html>
